* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif; 
  font-size: 20px;
  color: silver;
  text-align: center;
  line-height: 1.5;
}

nav {
  position: fixed;
  padding: 1% 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

header {
  padding: 10% 0;
  color: black;
}

section {
  min-height: 200px;
  padding: 1rem 0;
  background-color: gray;
  color: black;
}

section:nth-child(odd) {
  background-color: lightgray;
}

/** FOOTER SECTION **/
footer h2 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
  color: white;
}

footer .social {
  width: 100%;
  height: 15rem;
  margin: 0 auto;
  padding: 1rem 0;
  background: linear-gradient(black, #333333);
}

.icons {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.icons ul {
  clear: left;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;
}

.icons ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0 1em;
  padding: 0;
  position: relative;
  right: 50%;
}

.icons ul li a {
  display: block;
  margin: 1em -0.3rem;
  padding: 0.4em;
  color: #bcbcbc;
  text-decoration: none;
  border: 2px solid #616161;
  border-radius: 50%;
  text-align: center;
  width: 3rem;
  height: 3rem;
}

.icons a i {
  color: #fbfbfb;
  font-size: 1.5rem;
}

.icons ul li a:hover {
  background:tomato;
  color: #fff;
}

 /** NAVIGATION SECTION **/
nav {
  height: 5rem;
  background: linear-gradient(black, #333333);
  position: fixed;
  width: 100%;
  text-transform: uppercase;
  border-bottom: 0.3rem solid tomato;
  z-index: 9999;
  color:white;
  font-size: 1rem;
  letter-spacing: -.02rem;
}

nav .logo {
  float: left;
  margin-left: 2rem;
}

nav .logo a {
  color: white;
  text-decoration: none;
  transition: all .4s ease 0s;
}

nav .nav-menu {
  float: right;
}

nav .nav-menu li {
  display: inline-block;
}

nav .nav-menu li a {
  margin-right: 2rem;
  color: white;
  text-decoration: none;
  transition: all .4s ease 0s;
}

nav .nav-menu li.active {
  text-decoration-line: underline;
  font-weight: 500;
}

nav .nav-menu li a:hover {
  color:tomato;
}

nav a:hover {
  cursor: pointer;
  color: tomato;
}


/** HEADER SECTION **/
header {
  width: 100%;
  height: 35rem;
  background-color: lightgray;
  text-align: center;
  font-weight: 500;
}

header div {
  margin: auto;
  width: 50%;
  text-align: center;
  font-size: 1rem;
}

/** RECENT WORK SECTION **/
#work .box a {
  color: white;
  text-decoration: none;  
  transition: all .4s ease 0s;
  font-weight: 500;
}

#work .description a {
  color: black;
  text-decoration: underline;
  transition: all .4s ease 0s;
  font-weight: 500;
  font-size: 1.4rem;
}

#work .content a:hover {
  color:tomato;
}

.projects{
  text-align: center;
}

#work .content h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 2rem;
}

.project-box {
  background-color: #bbbbbb;
  width: 95vw;
  height: 35vw;
  margin: 1.5rem;
  position: relative;
}

.box {
  width: 50vw;
  height: 32vw;
  color:black;
  font-weight:bold;
  text-align:center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-decoration: none;
}

#opagrappa {
  float:right;
  margin-top: 1rem;
  margin-left: 1rem;
}

#cribtrakr, #plughubs {
  float:left;
  margin-top: 1rem;
  margin-right: 1rem;
}

.description {
  width: 35vw;
  height: 35vw;
}

.description h4 {
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
  padding: 0 1rem;
}

.description h3 {
  font-style: italic;
  text-align: center;
}

#og {
  float:left;
  margin-left: 3rem;
}

#ct, #ph {
  float:right;
  margin-right: 3rem;
}

.devicons {
  text-align: center;
  font-size: 2rem;
}

.links {
  font-size: 1.5rem;
  text-align: center;
}

.excerpt {
  width: 50vw;
  height: 32vw;
  position: absolute;
  opacity: 0;
  transition: .5s;
  font-size: 1em;
}

.excerpt h3 {
  font-weight: 200;
  color: #fbfbfb;
  padding: 20% 0 5% 0;
}

.excerpt a {
  color: #fbfbfb;
  font-size: 2rem;
}

.box:hover .excerpt {
  opacity: 0.8;
  background-color: rgba(0,0,0,.9);
  color: white;
}

#cribtrakr {
  background-image: url('./images/cribtrakr.png');
}
#opagrappa {
  background-image: url('./images/opagrappa.png');
}
#plughubs {
  background-image: url('./images/plughubs.png')
}



 /** RESPONSIVE DESIGN **/
@media screen and (max-width: 790px) {
  nav > .content {
  height: 3.375rem;
}
  nav .logo {
    display: none;
  }
  nav .logo, nav .nav-menu {
    font-size: 0.9rem
  }
  nav .nav-menu li a {
  margin-left: -1rem;
  }

  header, header > .content {
  height: 30rem;
  }  

  header .content h6 {
  padding-top: 27rem;
  font-size: 0.9rem;
  }

  header .content p {
    font-size: 0.7rem;
  }
  
  section .profile-img img {
    width: 17vw;
    height: 17vw;
  }

  section .content h2, footer h2 {
    margin: 2rem 0 1.5rem 0;
    font-size: 1.5rem;
  }
  section .content p {
    font-size: 0.9rem;
    line-height: 1.35rem;
  }

  section .content .about-me {
    max-width: 30rem;
  }
  
  .project-box {
    margin: 0.5rem;
  }

  .excerpt {
    font-size: 0.7rem;
  }

  .excerpt a {
    font-size: 1rem;
  }

  footer .social {
    height: 10rem;
    padding: 2rem 0;
  }
  .icons a i {
    font-size: 0.9rem;
  }
  
  .icons ul li a {
    padding: 0.38em;
    width: 2.5rem;
    height: 2.5rem;
  }

}
