* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif; 
  font-size: 20px;
  color: silver;
  text-align: center;
  line-height: 1.5;
  width: 100%;
}

nav {
  position: fixed;
  height: 5rem;
  padding: 1% 0;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(black, #333333);
  text-transform: uppercase;
  border-bottom: 0.3rem solid tomato;
  z-index: 9999;
  color:white;
  font-size: 1rem;
  letter-spacing: -.02rem;
}

header {
  padding: 10% 0 5% 0;
  color: black;
}

section {
  min-height: 200px;
  padding: 1% 0;
  background-color: gray;
  color: black;
}

section:nth-child(odd) {
  background-color: lightgray;
}

/** FOOTER SECTION **/
footer h2 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem 0;
  color: white;
}

footer .social {
  width: 100%;
  height: 15rem;
  margin: 0 auto;
  padding: 1rem 0;
  background: linear-gradient(black, #333333);
}

.icons {
  float: left;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.icons ul {
  clear: left;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center;
}

.icons ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0 1em;
  padding: 0;
  position: relative;
  right: 50%;
}

.icons ul li a {
  display: block;
  margin: 1em -0.3rem;
  padding: 0.4em;
  color: #bcbcbc;
  text-decoration: none;
  border: 2px solid #616161;
  border-radius: 50%;
  text-align: center;
  width: 3rem;
  height: 3rem;
}

.icons a i {
  color: #fbfbfb;
  font-size: 1.5rem;
}

.icons ul li a:hover {
  background:tomato;
  color: #fff;
}

 /** NAVIGATION SECTION **/
nav .logo {
  display: block;
  float: left;
  margin-left: 2rem;
}

nav .logo a {
  color: white;
  text-decoration: none;
  transition: all .4s ease 0s;
}

nav .nav-menu {
  float: right;
}

nav .nav-menu li {
  display: inline-block;
}

nav .nav-menu li a {
  margin-right: 2rem;
  color: white;
  text-decoration: none;
  transition: all .4s ease 0s;
}

nav .nav-menu li.active {
  text-decoration-line: underline;
  font-weight: 500;
}

nav .nav-menu li a:hover {
  color:tomato;
}

nav a:hover {
  cursor: pointer;
  color: tomato;
}


/** HEADER SECTION **/
header {
  background-color: lightgray;
  text-align: center;
  font-weight: 500;
}

header #about-me {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 1rem;
}

/** RECENT WORK SECTION **/
.content a:hover {
  color:tomato;
}

.content h2 {
  text-align: center;
  margin: 2rem auto 3rem;;
  font-size: 2rem;
}

.project-box {
  background-color: #bbbbbb;
  width: calc(100% - 2rem);
  height: 28rem;
  margin: 1rem;
}

.box {
  width: 50%;
  height: 100%;
  min-height: 100%;
  color:black;
  font-weight:bold;
  text-align:center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-decoration: none;
  margin: 0;
  /* border: 3px solid red; */
}

.description {
  width: 50%;
  min-height: 100%;
  text-align: center;
  /* border: 3px solid green; */
}

.description h4 {
  font-size: 0.9rem;
  font-weight: normal;
  text-align: left;
  padding: 0 1rem;
}

.description h3 {
  font-style: italic;
  text-align: center;
  font-size: 1.5rem;
}

.box a {
  color: white;
  text-decoration: none;  
  transition: all .4s ease 0s;
  font-weight: 500;
}

.description .links {
  color: black;
  font-weight: 500;
  font-size: 1rem;
  margin: 2rem auto;
}

.description a {
  color: black;
  text-decoration: underline;
  transition: all .4s ease 0s;
}

#opagrappa {
  float: right;
  overflow: hidden;
}

#cribtrakr, #plughubs {
  float: left;
  overflow: hidden;
}

#og {
  float: left;
  text-align: center;
}

#ct, #ph {
  float: right;
  text-align: center;
}

.description .devicons {
  margin: 2rem auto;
  font-size: 1.5rem;
}

.view-project-hover {
  color: white;
  opacity: 0;
  background-color: tomato;
  font-size: 1em;
  transition: all .3s;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  left: 0;
  padding: 0.5rem;
  right: 0;
}

.image img {
  transition: all 0.3s ease;
}

.image:hover > .view-project-hover {
  opacity: 1;
}

.image img:hover  {
  filter: grayscale(100%);
}

.image {
  display: inline-block;
  position: relative;
}

.image img {
  display: block;
  width: 100%;
}

  
/* 

#cribtrakr {
  background-image: url('./images/cribtrakr.png');
}
#opagrappa {
  background-image: url('./images/opagrappa.png');
}
#plughubs {
  background-image: url('./images/plughubs.png')
} */


 /** RESPONSIVE DESIGN **/
@media screen and (max-width: 790px) {
  nav .nav-menu {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 2rem;
  }

  nav .logo {
    display: none;
  }

  header h1 {
    margin-top: 4rem;
    font-size: 1.8rem;
  }

  header h2 {
    font-size: 1.2rem;
  }

  header h4 {
    width: 80%;
    font-size: 0.9rem;
    margin: 0 auto;
  }

  header #about-me {
    width: 90%;
    font-size: 0.7rem;
    margin: 0 auto;
  }

  .project-box {
    height: 12rem;
  }

  .content h2 {
    margin: 1rem 0 1.5rem;
    font-size: 1.5rem;
  }

  .box {
    width:60%;
  }

  .description {
    width: 40%;
  }

  .description h3 {
    font-size: 0.7rem;
    margin: 1rem auto 0.5rem;
  }

  .description h4 {
    font-size: 0.35rem;
    margin: 0;
  }

  .description .devicons {
    font-size: 0.5rem;
    margin: 0.3rem auto;
  }

  .description .links {
    font-size: 0.5rem;
    margin: 0.3rem auto;
  }

  .view-project-hover {
    font-size: 0.5em;
    padding: 0.2rem;
  }

  .image {
    margin: 1rem 0.5rem;
  }
  
  footer h2 {
    margin: 1rem 0;
    font-size: 1.2rem;
  }

  footer .social {
    height: 10rem;
    padding: 1rem 0;
  }

  .icons a i {
    font-size: 1.2rem;
  }
  
  .icons ul li a {
    padding: 0.2em;
    width: 2.5rem;
    height: 2.5rem;
  }
  
}
